<div class="user-details">
  <h1>Hi, I'm Michal!</h1>
  I'm a Machine Learning Scientist/Engineer. I spent last 3 years at 
  <a href="https://betakit.com/semantic-health-comes-out-of-stealth-to-help-hospitals-use-coded-data/" > Semantic Health </a>
  where I was the first employee and led the Machine Learning arm of the company. Before that I briefly worked at Deloitte and Intact Financial in insurance analytics.
</div>
<div class="user-details-left">
  <h2>Core Interests</h2>
  <ul>
    <li> <b>Education</b> - Through the incredibly hard work of my parents I was awarded the best possible education. I want everyone else ot have the same opportunities I did. Whenever I have the bandwidth I share my knowledge by teaching Machine Learning / Statistics at my alma matter University of Toronto. Other items are a WIP.</li>
    <li></li>  <b>Healthcare</b> - My interest in applying Machine Learning to healtthcare was sparked early on in university days, but it really grew thanks to <a href="https://healthyml.org/marzyeh/"> Prof. Marzyeh Ghassemi</a> , who taught the ML4Health course at UofT and who made it possible for us to collaborate with the team at St.Michaels hospital in Toronto <a href=""></a>working on documents related to Multiple Sclerosis</li>
    <li> <b>Food</b> - I love to cook, photograph, share, and review food across various cuisines and explore restaurants wherever I go. I especially enjoy showing people the cuisine of my home country - Poland.  </li>
    <li> <b>Photography</b>  - The most recent one of my hobbies, just getting started but this has been a natural progression from taking food photos </li>
  </ul>
</div>
<div class="user">
  <div class="tech">
    <h2>ML</h2>
    <p>I focus on Natural Language Processing (NLP) using Transformers and more traditional methods, but I have worked with every major ML framework / area.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <p>Most of my work has been in Python, R, and SQL, but I'm also familiar with Javascript / Typescript</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Git, Docker, k8s, MLFlow, Seldon, AWS, Azure, and many more </p>
  </div>
  <div class="tech">
    <h2>Libraries</h2>
    <p> PyTorch, Transformers, SpaCy, XGboost, LGBM, pandas, sklearn, tidyverse, and many more </p>
  </div>
</div>
