<div class="user-details">
  <h1>Hi, I'm Michal!</h1>
  I build Machine Learning products. I'm currently an MLOps Lead at<a href="https://www.fabletherapeutics.com/"> Fable Therapeutics </a> - a biotech / drug design startup out of Versant Ventures. Previously, I led the Machine Learning arm of <a href="https://betakit.com/semantic-health-comes-out-of-stealth-to-help-hospitals-use-coded-data/" > Semantic Health </a> from joining as a first employee all the way till acquisition.
</div>
<div class="user-details-left">
  <h2>Core Interests</h2>
  <ul>
    <li> <b> Education </b> - Through the incredibly hard work of my parents I was awarded the best possible education. I want everyone else to have the same opportunities I did. Whenever I have the bandwidth I share my knowledge by teaching Machine Learning / Statistics at my alma matter - University of Toronto. </li>
    <li> <b> Healthcare </b> - My interest in applying Machine Learning to healthcare was sparked early on in university days, but it really grew thanks to <a href="https://healthyml.org/marzyeh/"> Prof. Marzyeh Ghassemi</a> , who taught the ML4Health course at UofT and who made it possible for us to collaborate with the team at St.Michaels hospital in Toronto <a href="https://aclanthology.org/2020.clinicalnlp-1.2.pdf"> working on documents related to Multiple Sclerosis </a></li>
    <li> <b> BioTech / Proteins</b> - A brand new addition to the bunch - sparked by my current role at Fable, trying to soak up all the possible bio / funky ML on proteins knowledge. </li>
    <li> <b> Food </b> - I love to cook, photograph, share, and review food across various cuisines and explore restaurants wherever I go. I run a small (8 people) "food group" in Toronto. </li>
    <li> <b> Agriculture </b> - Everyone who has worked with me / is friends with me has seen my obsession with agriculture (permaculture, AI in AG, regenerative farming) grow over the past couple of years. It's just another natural extension of my passion for food. 
    <li> <b> Photography </b>  - The most recent one of my non-work hobbies, just getting started but this has been a natural progression from taking food photos </li>
  </ul>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <p> Most of my work is in Python, but I'm familiar with Javascript / Typescript, and the "obvious" (SQL, R) </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Git, Docker, k8s, MLFlow, Seldon, AWS, Azure, and many more</p>
  </div>
  <div class="tech">
    <h2>Libraries</h2>
    <p> PyTorch, Transformers, SpaCy, XGboost, LGBM, pandas, sklearn, tidyverse, and many more </p>
  </div>
</div>
